<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= contact.dob %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contact.notes %>
  </p>

</div>
